body {
    font-family: Arial, sans-serif;
    background-color: #edebeb;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}



.sidebar {
    width: 250px;
    background-color: #003366;
    color: white;
    position: fixed;
    /* top: 60px; Adjusted for the header height */
    top:0;
    bottom: 0;
    
    display: flex;
    flex-direction: column;
}
.line{
    width:100%;
}

.sidebar-header {
    padding:0px;
    text-align: center;
}

.sidebar-header .logo {
    width: 150px;
    margin-bottom: 10px;
}

.sidebar-header h1, .sidebar-header h2 {
    margin: 0;
    font-size: 16px;
    
}

.sidebar-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    padding: 13px 20px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar-menu a:hover {
    background-color: #004080;
}

.sidebar-menu a i {
    margin-right: 10px;
}
.header {
    width:100%;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    
    left: 250px;
    z-index: 1000;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header .home-button {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.header .home-button i {
    margin-right: 50px;
}

.content {
    margin-left: 250px;
    padding: 20px;
    margin-top: 20px; 
    flex: 1;
}

.personal-details {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.profile {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-right: 20px;
    margin-top:20px;
}

.profile-info {
    flex: 1;
}

.academic-identity, .area-of-interests {
    margin-top: 20px;
    margin-left: 15px;
}


@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .header {
        position: static;
    }

    .content {
        margin-left: 0;
        margin-top: 0;
        padding-top: 80px; /* Adjusted for the header height */
    }

    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .profile-info, .academic-identity, .area-of-interests {
        width: 100%;
        text-align: center;
    }
}

.side-heading{
    margin-left: 270px;
}
.educational-qualifications {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 270px;
    /* padding: 20px; */
    /* margin-top: 20px;  */
    width:100%;
    max-width:73%;
    flex: 1;
}


.qualification {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.qualification .badge {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    margin-right: 15px;
}

.badge.pdf {
    background-color: #a0e7a0;
}

.badge.phd {
    background-color: #f5b7b1;
}

.badge.me {
    background-color: #a0c4ff;
}

.badge.be {
    background-color: #a0e7a0;
}

.details p {
    margin: 0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .side-heading{
        margin-left: 20px;
    }
    .educational-qualifications {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 8px;
        margin-top: 20px;
        width:100%;
        max-width:80%;
        margin-left: 20px;
        
        flex: 1;
    }
    .qualification {
        flex-direction: column;
        align-items: flex-start;
    }

    .qualification .badge {
        margin-bottom: 10px;
    }

    .details {
        text-align: left;
    }
}

.section {
    scroll-margin-top: 130px; 
}


@media screen and (max-width: 768px) {
    .section {
        scroll-margin-top: 70px; /* Adjust this value as needed for smaller screens */
       
    }
}

.professional-experience {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 270px;
    width:100%;
    max-width:73%;
}


.experience {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.date-range {
    width: 120px;
    font-weight: bold;
    color: #555;
    margin-right: 15px;
}

.details p {
    margin: 0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .professional-experience {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 8px;
        margin-top: 20px;
        margin-left: 20px;
        width:100%;
        max-width:80%;
    }
    .experience {
        flex-direction: column;
        align-items: flex-start;
    }

    .date-range {
        margin-bottom: 10px;
    }

    .details {
        text-align: left;
    }
}

/* Publications Section */
.publications-section {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    margin-left: 270px;
    margin-right: 20px;
}

.publications-section h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.publications-section h3 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.publication {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.publication h4 {
    color: #2980b9;
    margin-bottom: 10px;
}

.publication p {
    margin: 0;
    color: #34495e;
}

/* Responsive Design */
@media (max-width: 768px) {
    .publications-section {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 8px;
        margin: 20px 0;
        margin-left: 20px;
        margin-right: 20px;
    }
    .publications-section {
        padding: 10px;
    }
    
    .publication {
        padding: 10px;
    }
}


/* Presentations Section */
.presentations-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    margin-left: 270px;
    margin-right: 20px;
}


.presentations-list {
    list-style-type: disc;
    padding-left: 20px;
}

.presentations-list li {
    margin-bottom: 10px;
    color: #34495e;
    line-height: 1.6;
}

.presentations-list li strong {
    color: #000000;
}

/* Responsive Design */
@media (max-width: 768px) {
    .presentations-section {
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .presentations-list {
        padding-left: 15px;
    }
}


/* Guidance Section */
.guidance-section {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    margin-left: 270px;
}

.guidance-section h2 {
    background-color: #ff0;
    color: #d00;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 1.5em;
    border-radius: 4px;
    text-align: center;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #ccc;
    padding: 10px;
}

tbody td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .guidance-section {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 8px;
        margin: 20px 0;
        margin-right: 20px;
        margin-left: 20px;
    }
    .guidance-section h2 {
        font-size: 1.2em;
        
    }

    thead {
        display: none;
    }

    tbody, tr, td {
        display: block;
        width: 100%;
    }

    tr {
        margin-bottom: 15px;
    }

    td {
        text-align: left;
        padding-left: 50%;
        position: relative;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
    }
}
